.carousel-item {
    height: 32em;
    background: #777;
    color: #fff;
    position: relative;
}

.container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}
